header {
    padding-right: 50px;
    padding-top: 20px;
}

.loginPage header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.loginForm {
    width: 1000px;
    height: 500px;
    margin: 150px auto;
    border: 1px solid darkgrey;
    border-radius: 20px;
}

.loginForm h1 {
    text-align: center;
    margin-top: 50px;
}

.loginForm form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.loginForm form input, button {
    width: 300px;
    height: 50px;
    border: 1px solid darkgrey;
    padding-left: 10px;
    border-radius: 20px;

}

.loginForm form button {
    background-color: #FDDE0D;
}

.loginForm form button:hover{
    filter: brightness(0.9);
    transition: 0.5s ease;
    cursor: pointer;
}

.loginForm form button:disabled{
    background-color: white;
    filter: brightness(0.9);
}

p {
    color: #bf1650;
}

p::before {
    display: inline;
    content: "⚠ ";
}