.button {
    background-color: white;
    width: 150px;
    height: 50px;
    border: 1px solid darkgrey;
    border-radius: 10px;
    font-weight: bold;
}

.arrow {
    width: 50px;
    height: 50px;
    padding: 8px;
    border-radius: 100px;
    gap: 10px;

}

.button:hover {
    filter: brightness(0.9);
    transition: 0.5s ease;
    cursor: pointer;
}

.button:active {
    filter: brightness(0.6);
    transition:  0.1s ease;
}

.registration {
    background-color: #FDDE0D;
}
