.addTask {
    width: 1300px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form {
    display: flex;
    flex-direction: column;
    width: 500px;
    gap: 50px;
    align-items: center;
}

.addTask h1 {
    margin-top: 20px;
    margin-bottom: 100px;
}

.form input,textarea  {
    width: 300px;
    height: 50px;
    border: 1px solid darkgrey;
    border-radius: 20px;
    padding: 10px;
}


.form button {
    width: 300px;
}