.dayPage {
    margin: 30px auto;
    width: 1300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tasks {
    margin-top: 50px;
}

.task {
    width: 800px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
    border: 1px solid darkgrey;
    border-radius: 20px;
    padding: 20px;
}

.buttons {

    display: flex;
    flex-direction: column;
    gap: 10px;
}

button {
    width: 100px;
}

.description {
    display: flex;
    flex-direction: column;
    gap: 20px;
}